<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="servicesSOF.config" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <servicesSOF.config>
            <setting name="CNX_LOCAL" serializeAs="String">
                <value>NA-INTERNO</value>
            </setting>
            <setting name="CNX_PRE_PRODUCCION" serializeAs="String">
                <value>NA-INTERNO</value>
            </setting>
            <setting name="CNX_TEST" serializeAs="String">
                <value>NA-INTERNO</value>
            </setting>
            <setting name="TIPO_CNX" serializeAs="String">
                <value>PROD</value>
            </setting>
            <setting name="PATH_USUARIO_BASE" serializeAs="String">
                <value>C:\imginaServices\zebra2019\</value>
            </setting>
            <setting name="CNX_PROD" serializeAs="String">
                <value>NA-INTERNO</value>
            </setting>
            <setting name="ZEBRA_LINEA_1" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="ZEBRA_LINEA_2" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="ZEBRA_LINEA_3" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="ZEBRA_LINEA_4" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="ZEBRA_LINEA_5" serializeAs="String">
                <value>LOCAL_ZEBRA_L5</value>
            </setting>
            <setting name="ZEBRA_LINEA_6" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="CANTIDAD_ETQ_PALLET" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DEBUG" serializeAs="String">
                <value>SI</value>
            </setting>
        </servicesSOF.config>
    </userSettings>
</configuration>
